@import '../../styles/main.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 100vh;
  background: $BACKGROUND_COLOR;
  font-family: $Product-font;
  font-weight: bold;
  overflow: auto;

  .productName {
    font-size: $MegaLarge;
  }

  .productImage {
    display: flex;

    .imageWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .elipse {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 88px;
      height: 88px;
      border: 3px solid #e3d9bf;
      border-radius: 50%;
    }

    .buy {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        border: 1px solid #ca8122;
        background-color: transparent;
        color: inherit;
        transition: all 0.5s ease-out;
      }

      button:hover {
        cursor: pointer;
        background-color: #ca8122;
        color: $WHITE;
        transition: all 0.5s ease-out;
      }
    }
  }
}
