{
    "presets": ["next/babel"],
    "plugins": [
      [
          "module-resolver",
          {
              "root": ["."],
              "alias": {
                  "@components": "./src/components",
                  "@ui-kit": "./src/components/ui-kit",
                  "@styles" : "./src/styles",
                  "@images" : "./public/images",
                  "@pages" : "./src/pages",
                  "@api" : "./src/api",
                  "@store" : "./src/store"
              }
          }
      ]
    ]
  }